# Database connection
DATABASE_URL="mysql://root:12345678@localhost:3306/database_name" 

MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET=""