# Database connection
DATABASE_URL="mysql://root:12345678@localhost:3306/database_name" 

MINIO_ACCESS_KEY=""
MINIO_SECRET_KEY=""
MINIO_ENDPOINT="localhost"
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_BUCKET=""

JWT_SECRET="your_jwt_secret"

PORT=3002


GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
NEXT_PUBLIC_GOOGLE_CLIENT_ID=""